<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">
<head>
<title>bank</title>
</head>

<body>
	<h1>Bank</h1>

	<table border="1">
	
	<thead>
			<tr>
				<th> NAMA </th>
				<th> KODE VA </th>
				<th colspan ="2"> # </th>
				</tr>
				
				</thead>
		<tbody>
			<tr th:each="item:${ListName}">
				<td th:text="${item.bank.Name}"></td>
				<td th:text="${item.Name}"></td>
				
				<td><a th:href="@{/name/edit/{id}(id=${item.id})}"> Edit</a></td>
				<td><a th:href="@{/name/delete/{id}(id=${item.id})}">Delete</a></td>

			</tr>
			</tbody>
			</table>


</body>

</html>