@font-face {
  font-family: "OpenSans";
  src: url(../fonts/OpenSans-Regular.ttf);
}

html,
body {
  font-family: "OpenSans", Helvetica, Verdana;
  height: 100%;
  margin: 0 0 0 0;
}

body > .navbar {
  background-color: rgb(198, 231, 231);
  width: 100%;
  height: 50px;
  margin: 0 auto;
}

.navbar > .link-navbar2 {
  display: inline-flex;
  justify-content: left;
  color: grey;
  padding-left: 50px;
}

.label{
  text-align: left;
  color: #17a2b8;}

.input{
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  padding-top: 10px;
    margin-top: 10px;
}
.input_label {
  color: #8597a3;
  position: absolute;
  top: 20px;
  @include transition(all 0.3s);
}
.input_field{
  border: 0;
  padding: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 2px solid #eee;
  font: inherit;
  font-size: 16px;
  line-height: 30px;
    outline: 0;
    border-bottom-color: #17a2b8;
      color: #665856;
      @include transform(translateY(-25px));
}

#cheat {
  opacity: 0%;
}

.wrap {
  background: white;
  width: 90%;
  margin: 10px auto;
  padding-top: 90px;
}

/*bagian header*/
.wrap .header {
  background: green;
  /*height: 50px;*/
  padding: 2px 10px;
}

/*akhir header*/

/*bagian menu*/
.wrap .menu {
  background: yellow;
}

.wrap .menu ul {
  padding: 0;
  margin: 0;
  background: yellow;
  overflow: hidden;
}

.wrap .menu ul li {
  float: left;
  list-style-type: none;
  padding: 10px;
}
/*akhir menu*/

.clear {
  clear: both;
}

.badan {
  height: 450px;
}
/*bagian sidebar*/
.wrap .badan .sidebar {
  background: white;
  float: left;
  width: 25%;
  height: 100%;
}

/*akhir sidebar*/

.wrap .footer {
  width: 100%;
  padding: 10px;
}

#imageUpload {
	display: none;
}

.sidebar > img {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 50%;
  width: 130px;
  height: 130px;
}

.sidebar > span {
  display: grid;
  margin: 0 auto;
  justify-content: center;
  color: grey;
  padding: 2px;
}

#star {
  width: 50px;
  height: 40px;
  display: grid;
  margin: 0 auto;
  justify-content: center;
  color: goldenrod;
  padding: 2px;
}

ul > li {
  padding-top: 20px;
}

li > a {
  text-decoration: none;
}

#pencil-edit {
  display: grid;
  margin-left: 150px;
  justify-content: center;
  color: grey;
}

.nav-tabs {
  border-color: black;
}

.nav-tabs > li > a {
  border-color: red;
}

.nav-tabs > li > a:hover {
  border-color: blue;
}

.nav-tabs > li > .nav-link.active {
  border-color: green;
}
