.sidelist{
	text-align:left; 
	margin-left:20px;
}
.sidelist li {
	margin: 20px;
}

.sidelist ul {
	list-style-type:none;
}

.sidelist a {
	color: rgb(0, 185, 185);
}

.sidelist a:hover {
	color: rgb(192, 192, 192);
}
.member h6{
	color:rgb(164, 164, 164)
}
.thumb {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.thumb img {
  height: 100%;
  width: auto;
}
.center {
    margin-left: 75px;
    margin-top: 10px;
}

.label{
  text-align: left;
  color: #007bff;}

.input{
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  padding-top: 10px;
    margin-top: 10px;
}
.input_label {
  color: #8597a3;
  position: absolute;
  top: 20px;
  @include transition(all 0.3s);
}
.input_field{
  border: 0;
  padding: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 2px solid #eee;
  font: inherit;
  font-size: 16px;
  line-height: 30px;
    outline: 0;
    border-bottom-color: #007bff;
      color: #665856;
      @include transform(translateY(-25px));
}

#img2{
	width:10%; 
	margin-bottom:10px
}
#sidemember{
	font-family: Arial, Helvetica, sans-serif;
}
#cellDeleteAll{
	margin-top:10px;
	margin-left:20px;
}
#cellAdd{
	margin-top:15px;
	margin-right:20px;
}
#searchSort{
	margin-top: 20px;
}
#dropdownMenuLink{
	margin-left: 10px;
}
#showingPage{
	margin-right: 10px;
}
#tr5:hover{
	cursor:pointer;
	color:rgb(209, 209, 209);
}
.button {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    color: #007bff;     
}