.nav-tabs .nav-link:not(.active) {
	border-color: transparent !important;
	color:rgb(128, 128, 128);
}
.nav-tabs .nav-link.active {
	color: rgb(0, 185, 185);
}
#navTemp {
	background-color: #e3f2fd;
}
#navLink1 {
	color: rgb(0, 185, 185);
}
#col1 {
	margin-top:65px;
	margin-left:100px;
}
#col-a{
	width: 300px; border:0;
}
#col2 {
	margin-top:65px;
}
#col-b{
	width: 100%;
}
#pencil:hover{
	color:rgb(209, 209, 209);
}
#pencil{
	color:rgb(128, 128, 128);;
	margin-left:225px;
}
#editImage{
	cursor:pointer;
}
#imageUpload{
    display: none;
}