.sidelist{
	text-align:left; 
	margin-left:20px;
}
.sidelist li {
	margin: 20px;
}

.sidelist ul {
	list-style-type:none;
}

.sidelist a {
	color: rgb(0, 185, 185);
}

.sidelist a:hover {
	color: rgb(192, 192, 192);
}
.member h6{
	color:rgb(164, 164, 164)
}
.thumb {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.thumb img {
  height: 100%;
  width: auto;
}
.center {
    margin-left: 75px;
    margin-top: 10px;
}
#img2{
	width:10%; 
	margin-bottom:10px
}
#sidemember{
	font-family: Arial, Helvetica, sans-serif;
}
#cellDeleteAll{
	margin-top:10px;
	margin-left:20px;
}
#cellAdd{
	margin-top:15px;
	margin-right:20px;
}
#searchSort{
	margin-top: 20px;
}
#dropdownMenuLink{
	margin-left: 10px;
}
#showingPage{
	margin-right: 10px;
}
#tr5:hover{
	cursor:pointer;
	color:rgb(209, 209, 209);
}