<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">
<head>
<title>blood_group</title>
</head>

<body>
	<h1>Golongan Darah</h1>



	<table border="1">


		<thead>
			<tr>
				<th> KODE </th>
				<th> DESKRIPSI </th>
				<th colspan ="2"> # </th>
				</tr>
</thead>
		<tbody>
			<tr th:each="item:${ListCode}">
				<td th:text="${item.blood_group.Code}"></td>
				<td th:text="${item.Code}"></td>

				<td><a th:href="@{/code/edit/{id}(id=${item.id})}"> Edit</a></td>
				<td><a th:href="@{/code/delete/{id}(id=${item.id})}">Delete</a></td>

			</tr>
			</tbody>
			</table>


</body>

</html>