<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/layout}">

<head>
	<title>current_specialization</title>
</head>

<body>

	<table border="1">
		<tr>
			<td>Row</td>
		</tr>
		<tr>
			<td>Row</td>
			<td rowspan="2">First</td>
				<nav>
					<center>
						<img src="images/.jpg" alt "Profil." width="500px" hight="500px">
						<thead>
							<tr>
								<th>Name</th>
								<th>Spesialis</th>
								<th>grade</th>

						<tbody>
							<tr th:each="item:${Janji}">
								<td th:text="${item.current_specialization.Janji}"></td>
								<td th:text="${item.Janji}"></td>

								<td><a th:href="@{/specialization_id/edit/{id}(id=${item.id})}"> Edit</a></td>
								<td><a th:href="@{/specialization_id/delete/{id}(id=${item.id})}">Delete</a></td>

							</tr>
							</thead>

</body>

</html>